<% if @patient.image.present? %>
  <%= image_tag "data:image/*;base64,#{@patient.image}" %> 
<% end %>

 <div class="panel panel-default">
  <div class="panel-heading"><%= Patient.find_by(id: params[:id]) %></div>
  <div class="panel-body">
      <div class="row">
          <div class="col-lg-4">
            <%= image_tag(@patient.image, size: "200x200") %>
          </div>
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      Name:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.name %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      Gender:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.gender %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      Phone number:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.phone_no %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      Address:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.address %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      Email:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.email %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      About:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.about %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <b>
                      About:
                      </b>
                  </div>
                  <div class="col-lg-6">
                      <%= @patient.about %>
                  </div>
              </div>                                       
                  </div>
                  <div class="col-lg-6">
                      <br/>
                    <%= link_to "Edit", edit_patient_url(@patient),class: "btn btn-primary" %>
                    <%= link_to "Delete", 
                    calendar_event_url(@patient), 
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger"%>
                  </div>
              </div>
            
          </div>
      </div>
  
    </div>
    </div>
  
  <% @patient.users.each do |m| %>

    <%= render "family_members", user: m %>  

  <% end %>

</div>

